@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(2deg); }
  20% { transform: translate(-2px, -2px) rotate(-4deg); }
  40% { transform: translate(0) rotate(0); }
  60% { transform: translate(0) rotate(0); }
  80% { transform: translate(1px, 1px) rotate(-3deg); }
  100% { transform: translate(-2px, -2px) rotate(-6deg); }
}
